#[include macros/sensorless.cfg]
#[include extras/lightning.cfg]

[delayed_gcode welcome]
initial_duration: 5.
gcode:
  M117 Welcome!
    {action_respond_info("Welcome...")}
    #STATUS_BUSY

#[delayed_gcode bed_heating]
#initial_duration: 15.
#gcode:
#  M117 Bed heating...
#    {action_respond_info("Bed heating...")}
#      M140 S60

#[delayed_gcode homing]
#initial_duration: 25.
#gcode:
#  M117 Homing X Y Z..
#    {action_respond_info("Homing X Y Z...")}
#    G28 X Y Z
#  M400
#    G1 Y340 X340 Z30 F3000
#  M117 Finish Homing X Y Z...

#[delayed_gcode extruder_heating]
#initial_duration: 45.
#gcode:
#  M117 Extruder heating...
#    {action_respond_info("Extruder heating...")}
#      M104 S95

[delayed_gcode waitung_for_job]
initial_duration: 55.
gcode:
  M117 waiting for Job...
    {action_respond_info("wating for Job...")}
    #STATUS_CLEANING